<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Be right there!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/javascript/map.js}"></script>
    <script th:src="@{/javascript/websocket.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        beRightThereMap.initialize([[${locations}]]);
        beRightThereWebSocket.initialize([[${tripIdentifier}]]);
        /*]]>*/
    </script>
    <script async="async" defer="defer" th:src="@{https://maps.googleapis.com/maps/api/js?key={googleMapsKey}&amp;callback=beRightThereMap.googleMapsCallback(googleMapsKey=${googleMapsKey})}"></script>
</head>
<body>
    <div id="map"></div>
</body>
</html>