<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Be right there!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" th:href="@{/webjars/leaflet/leaflet.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/icomoon.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/map.css}" />
    <script th:inline="javascript">
        /*<![CDATA[*/
        const initialLocations = [[${locations}]];
        var require = {
            config: {
                'map.accuracy': {
                    location: [[${latestLocation}]]
                },
                'map.core': {
                    locations: initialLocations
                },
                'map.state': {
                    locations: initialLocations
                },
                'websocket': {
                    tripIdentifier: [[${tripIdentifier}]]
                }
            }
        };
        /*]]>*/
    </script>
    <script data-main="/javascript/app" src="/webjars/requirejs/require.min.js" async></script>
</head>
<body>
    <div id="map"></div>
</body>
</html>