<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Be right there!</title>
    <meta http-equiv="refresh" content="10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/icomoon.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/unknown-waiting.css}" />
</head>
<body>
    <div class="container">
        <i class="icon icon-hipster"></i>
        <div class="text">Whoops. No trip information has been received yet. Page will automatically refresh, sit tight!</div>
    </div>
</body>
</html>